<div id="client-<%= client.id %>" class="client card">
    <div class="card-body">
	<div class="row">
	    <div class="col-3 full-name">
		<strong>
		    <%= client.full_name %>
		</strong>
	    </div>
	    <div class="col-3 ctoken">
		Client Token: <%= client.ctoken %>
	    </div>
	    <div class="col-3 employee-full-name">
		<%= link_to "Employee: #{client.employee.full_name}", employee_clients_path(client.employee), class: "text-muted" %>
	    </div>
	    <div class="col-3">
		<div class="float-right">
		    <%= link_to 'Edit', edit_client_path(client), class: "btn btn-secondary btn-sm" %>
		    <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
		</div>
	    </div>
	</div>
    </div>
</div>
